# Byte-compiled / cache files
_pycache_/
*.py[cod]
*.pyo

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
*.egg-info/
.eggs/

# Virtual environment
venv/
.env/

# IDE / Editor files
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db